/*
本css只写图片路径
创建人：王灿
日期：2017.5.2
*/


/*title*/
a.link-new{
  background: #00C79C url(./img/add.png) 10px center no-repeat;
}
.back{
  background: url(../img/back.png) left center no-repeat;
}

/*departPanel*/
.jstree-icon{
  background: url(../img/active.png) no-repeat center center;
background-size: 100%;
}
.jstree-icon-sq{
  background: url('../img/file-active.png') no-repeat center center;
  background-size: 100%;
}
/*.router-link-active .jstree-icon{
  background: url(../img/click.png) no-repeat center center;
  background-size: 100%;
}*/

/*popHd*/
.icon_labeldele{
  background: url(../img/icon_dele.png) no-repeat center center;
  background-size: 100%;
}

/*departPanel*/
.div_bar .icon_write{
  background: url(../img/icon_write.png) no-repeat center center;
    background-size: contain;
}
.icon_write:hover{
  background: url(../img/icon_write_a.png) no-repeat center center;
background-size: contain;
}
.div_bar .icon_add{
  background: url("../img/添加copy.png") no-repeat center center;
    background-size: contain;
}
.div_bar .icon_add:hover{
  background: url("../img/添加.png") no-repeat center center;
background-size: contain;
}

.div_bar .icon_remo{
  background: url(../img/icon_remo.png) no-repeat center center;
  background-size: contain;
}
.div_bar .icon_remo:hover{
  background: url(../img/icon_remo_a.png) no-repeat center center;
    background-size: contain;
}
.icon_send{
  background: url(../img/icon_send.png) no-repeat center center;
  background-size: contain;
}
.icon_send:hover{
  background: url(../img/icon_send_a.png) no-repeat center center;
background-size: contain;
}
.mod-icon{
  background: url(../img/file.png) no-repeat center center;
background-size: 100%;
}
.root .jstree-icon{
  background: url(../img/file-active.png) no-repeat center center;
  background-size: 100%;*/
  transform: rotate(-90deg);
}


/*userinfo*/
.mod-pl .mod-close-icon{
  background: url(../img/icon_devi.png) no-repeat center center;
background-size: contain;
}
.top_content .not{
  background: url(../img/not.png) no-repeat center center;
background-size: 100%;
}
.top_content .disab{
  background: url(../img/disab.png) no-repeat center center;
background-size: 100%;
}
.top_content .gone{
  background: url(../img/gone.png) no-repeat center center;
background-size: 100%;
}
.top_content .sex_w{
  background: url(../img/icon_w.png) no-repeat center center;
background-size: 100%;
}
.top_content .sex_m{
  background: url(../img/icon_m.png) no-repeat center center;
background-size: contain;
}
.bottom_content .color_1:after {
    content: '';
    background: url(../img/icon_color1.png) no-repeat center center;
    background-size: contain;
}
.bottom_content .color_2:after {
    content: '';
    background: url(../img/icon_color2.png) no-repeat center center;
    background-size: contain;
}
.bottom_content .color_3:after {
    content: '';
    background: url(../img/icon_color3.png) no-repeat center center;
    background-size: contain;
}
/*pages*/
.arrow-left {
    background: url(../img/icon-prev.png) no-repeat center center;
    background-size: contain;
}
.arrow-right {
  background: url(../img/icon-next.png) no-repeat center center;
background-size: contain;
}


/*myPanel*/
.all-person span:before{
  background: url(../img/active.png) no-repeat center center;
}

.input-change-red {
  background: url(../img/icon_checked.png) no-repeat center center;
    background-size: contain;

}
