//**
@import "../../src/mixins.scss";
@import "./temp.scss";

#app {
    li {
        width: 200px;
        @include _border(yellow);
    }

    .inner {
        width: 100px;
        height: 100px;
        background-color: gray;
    }
}
