//**
@import "../../src/mixins.scss";
@import "./temp.scss";

#app {
    li{
        width: 20px;
        @include _border(black);
        // &:hover{
        //   .inner{
        //     display: block;
        //   }
        // }
    }

    .inner {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: none;
    }
    input{
      @include placeholder{
        color: red;
        padding-left: 10px;
      };
    }
}
