*{
  margin: 0;
  padding: 0;
}
i{
  font-style: normal;
}
ul,li{
  list-style: none;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
img{
  vertical-align: middle
}
button{
  outline: none;
}
a:link,a:visited{
    text-decoration: none;
    color: black;
}
a:hover,a:active{
    text-decoration: none;
    color: black;
}
.right{
  float: right;
}
.left{
  float: left;
}
.col-l{
  float: left;
}
.col-r{
  float: right;
}
