.div_bar{
  display: none;
  .icon_send{
    width: 13px;
height: 13px;
display: block;
position: relative;
  }
}


li:hover .div_bar{
  display: block;
}
li{
  position: relative;
  height: 30px;
  line-height: 30px;
  div{
    cursor: pointer;
    // border: 1px solid white;


  }
  .wrap{
    position: relative;
    z-index: 8;
  }

}
.gray{
  // background-color: gray;
}
.notRoot:hover {
  background-color: #F2FCFB;
}
.outAllowids:hover{
  background-color: #e5e5e5;
}
.notRoot .router-link-active{
   border: 1px solid #00c79c;
   color: #00c79c;
   z-index: 3;
}
.wrap{
  // padding-left: 12px;
}
.mod-icon{
  width: 14px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}
.root{
    background: #00c79c;
    color: #fff;
    .jstree-icon{
      margin-right: 9px;

    }
}

#icon_add:hover:before{
  content:'添加';
  position: absolute;
  color: #00c79c;
  z-index: 5;
  font-size: 12px;
  display: block;
  width: 25px;
  line-height: 17px;
  right: -34px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: #fff;
}
.icon_send:hover:before{
  position: absolute;
  color: #00c79c;
  z-index: 5;
  font-size: 12px;
  display: block;
  width: 25px;
  line-height: 17px;
  right: -34px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: #fff;
}


// .jstree-icon,.jstree-icon-sq{
//   width: 14px;
//   height: 8px;
//   float: left;
//   cursor: pointer;
// }
// .jstree-no{
//   background: none;
// }

// .jstree-clear{
//   width: 0;
//   height: 0;
// }

// .mod-icon{
//   width: 15px;
// height: 12px;
// display: inline-block;
// }
