article{
  border-top: 1px solid #e5e5e5;
  ul{
    margin: 0px auto;
    padding: 5px 0;
    li{
      float: left;
      cursor: pointer;

    }
    // .page-
    .page-num{

      position: relative;
    float: left;
    padding: 3px 8px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
    }
    .page-pre,.page-next{
      height: 18px;
      display: block;
      a{
        position: relative;
        float: left;
        padding: 3px 8px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #ddd;
      }
    }
    .lightBlue {
      background-color: #42a5f5;
      border-color: #42a5f5;
      color: #fff;
    }

  }
}
